/* FONTS */

@import url("@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Press+Start+2P&display=swap');");

/* GLOBAL STYLES */

:root {
  --font-primary: Nosifer, sans-serif;
  --font-secondary: PressStart2P;
  --font-code: 'Roboto', monospace;
  --bg-color: #c204ed;
  --font-color: #000000;
  --btn-bg-color: #ffffff;
  --accent-color: #f70157;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header2{
  height: 100vh;
  width: 100%;
  padding: 0 8%;
  background: #000000;
  position: relative;

}

.wrapper2{
  width: 100%;
  
}

.img-banner {
  display: none;

}

.img-info{
width: 100%;

}

.img-info h2{
padding: 30px 30px 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
color: #f70157;
line-height: 44px;
}

.img-info p{
padding: 0px 30px 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
color: #f70157;
line-height: 24px;

}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60px;
  margin: 0 auto;
  padding: 1rem 2rem;
  z-index: +3;
}

.container2 { position:relative; }
.container2 video {
    position:relative;
    z-index:0;
}
.overlay2 {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}

.container3 { position:relative; }
.container3 video {
    position:absolute;
    z-index:0;
}
.overlay3 {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}



.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

.behind{
  z-index: -3;

}



.titlesection{
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: +1000;

}



/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 5.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width:100px
}

video {
  width: 100%;
}
 
