/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #00163f;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #be7efe;
  --header-shadow: #000 0px 0px 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background/Star-bg.png");
  background-position:center top;
    background-attachment:fixed;
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  z-index: 6; 
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  z-index: 2;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
  z-index: 2;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
  z-index: 2;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
  z-index: 2;
}

/* COUNTDOWN SECTION */

section {
  z-index: 3;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

h1 {
  text-shadow: 3px 5px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
.box{
  width: 120vw;
  height: 120vh;
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.box img {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  -webkit-animation: moveX 13s linear 0s infinite alternate, moveY 12s linear 0s infinite alternate, spin 5s linear infinite;
  -moz-animation: moveX 13s linear 0s infinite alternate, moveY 12s linear 0s infinite alternate, spin 5s linear infinite;
  -o-animation: moveX 13s linear 0s infinite alternate, moveY 12s linear 0s infinite alternate, spin 5s linear infinite;
  animation: moveX 13s linear 0s infinite alternate, moveY 12s linear 0s infinite alternate, spin 5s linear infinite;
}

.box img:nth-child(1)
 {
  -webkit-animation: moveX1 12s linear 0s infinite alternate, moveY1 13s linear 0s infinite alternate, spin1 5s linear infinite;
  -moz-animation: moveX 12s linear 0s infinite alternate, moveY1 13s linear 0s infinite alternate, spin1 5s linear infinite;
  -o-animation: moveX1 12s linear 0s infinite alternate, moveY1 13s linear 0s infinite alternate, spin1 5s linear infinite;
  animation: moveX1 12s linear 0s infinite alternate, moveY1 13s linear 0s infinite alternate, spin1 5s linear infinite;
}

@-webkit-keyframes moveX {
  from { left: -20vw; } to { left: 120vw; }
}
@-moz-keyframes moveX {
  from { left: -20vw; } to { left: 120vw; }
}
@-o-keyframes moveX {
  from { left: -20vw; } to { left: 120vw; }
}
@keyframes moveX {
  from { left: -20vw; } to { left: 120vw; }
}

@-webkit-keyframes moveY {
  from { top: -20vh; } to { top: 120vh; }
}
@-moz-keyframes moveY {
  from { top: -20vh; } to { top: 120vh; }
}
@-o-keyframes moveY {
  from { top: -20vh; } to { top: 120vh; }
}
@keyframes moveY {
  from { top: -20vh; } to { top: 120vh; }
}

@-webkit-keyframes moveX1 {
  from { right: -20vw; } to { right: 120vw; }
}
@-moz-keyframes moveX1 {
  from { right: -20vw; } to { right: 120vw; }
}
@-o-keyframes moveX1 {
  from { right: -20vw; } to { right: 120vw; }
}
@keyframes moveX1 {
  from { right: -20vw; } to { right: 120vw; }
}

@-webkit-keyframes moveY1 {
  from { bottom: -20vh; } to { bottom: 120vh; }
}
@-moz-keyframes moveY1 {
  from { bottom: -20vh; } to { bottom: 120vh; }
}
@-o-keyframes moveY1 {
  from { bottom: -20vh; } to { bottom: 120vh; }
}
@keyframes moveY1 {
  from { bottom: -20vh; } to { bottom: 120vh; }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes spin1 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3em;
    display: inline-block;
}
p { font-size: 1.5em; }

section {
    height: 100vh;
    top: 50%; 
    bottom: 50%;
}

.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-7-4 16:24:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

canvas {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}