/* security-plus.css */

body {
    margin: 0;
    background-color: #009688;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

#backToChapterPopup,
#resetQuizPopup {
    display: none;
    /* Set to none by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.backToChapter-popup-content,
.resetQuiz-popup-content {
    border-radius: 10px;
    box-shadow: #009688;
    background-color: #009688;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 18px;
    max-width: 400px;
    width: 80%;
    text-align: center;
}

.backToChapter-popup-buttons,
.resetQuiz-popup-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.backToChapter-popup-buttons button,
.resetQuiz-popup-buttons button {
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #f7b53c;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

#customAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    /* Move the box down by 50% of the viewport height */
    left: 50%;
    /* Move the box horizontally by 50% of the viewport width */
    transform: translate(-50%, -50%);
    /* Center the box both vertically and horizontally */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

#customAlertMessage {
    color: white;
    font-size: 18px;
    margin: 15px;
}

#customAlertButton {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f7b53c;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.chapterLinks {
    display: none;
}

.chapter-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.chapter-selection .site-logo img {
    border-style: inset;
    border-radius: 1px;
    border-color: goldenrod;
    cursor: pointer;
}

.chapter-selection .site-logo {
    font-size: 34px;
    font-weight: bold;
    color: goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.chapter-selection-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.chapter-selector {
    width: 80%;
    /* Set a fixed width for consistent width */
    max-width: 400px;
    /* Optional: Limit the max width */
    background-color: #ccc;
    padding: 15px 25px;
    margin: 10px auto;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.quiz-container {
    /* Hide the quiz container initially */
    display: none;
    position: relative;
    max-width: 700px;
    min-height: 500px;
    background-color: white;
    margin: 30px auto;
    border-radius: 8px;
    padding: 30px;
    /* Set default cursor style for the quiz container */
}

.quiz-container .navi-button.hide,
.quiz-container .question-number.hide,
.quiz-container .question.hide,
.quiz-container .options.hide {
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    /* Adjust duration and easing as needed */
    display: none;
}

/* Apply consistent styling to action buttons */
.quiz-container .action-buttons {
    display: flex;
    /* Use Flexbox */
    justify-content: space-between;
    /* Distribute items evenly along the container */
    align-items: center;
    /* Vertically center items */
}

.quiz-container .action-buttons button,
.quiz-container .navi-button .next-button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

/* Apply consistent styling to timer elements */
.quiz-timer {
    font-size: 16px;
    color: #009788;
    padding: 5px;
    margin-right: 10px;
    font-weight: bold;
}

/* Flexbox layout for timer elements and Next button */
.navi-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribute items evenly along the container */
}

.question-number h3 {
    font-size: 18px;
    color: #009788;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.quiz-title h2 {
    color: #0000ff;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    /* Add padding to the top */
}

.question {
    font-size: 24px;
    color: black;
    padding: 15px 0;
    margin-bottom: 5px;
}

.options div {
    background-color: #ccc;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.options div.disabled {
    pointer-events: none;
}

.options div.correct {
    z-index: 1;
    color: white;
}

.options div.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: -1;

    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animateBackground {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.options div.wrong {
    z-index: 1;
    color: white;
}

.options div.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;

    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

.answers-tracker {
    margin: 10px 0;
    /* Add margin to the top and bottom */
}

.answers-tracker div {
    height: 40px;
    width: 40px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.answers-tracker div.correct {
    background-color: green;
    background-image: url('../img/correct.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.answers-tracker div.wrong {
    background-color: red;
    background-image: url('../img/wrong.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.quiz-over {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.show {
    display: flex;
}

.quiz-over .quiz-over-content {
    background-color: #009688;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex-basis: 700px;
    max-width: 700px;
    color: white;
    border: 1px solid #ccc;
    box-shadow: #009688;
}

.quiz-over .quiz-over-content h1 {
    font-size: 28px;
    margin: 0 0 20px
}

.quiz-over .quiz-over-content .review-answers-button,
.quiz-over .quiz-over-content .try-again-button {
    width: 150px;
    /* Adjust the width value as needed */
    padding: 15px 0;
    /* Keep vertical padding, remove horizontal padding */
    border: 1px solid #ccc;
    background-color: #f7b53c;
    border-radius: 5px;
    font-size: 18px;
    margin: 15px auto 20px;
    /* Use auto for horizontal margin to center the buttons */
    color: white;
    cursor: pointer;
    text-align: center;
    /* Center the text inside the buttons */
}

.review-container {
    display: none;
    /* Initially hidden */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    /* Center the review container horizontally */
    max-width: 700px;
    /* Set the maximum width to 700px */
    text-align: left;
    /* Align the text to the left */
}

.review-question {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.review-question p {
    margin: 0;
    padding: 5px 0;
}

.footer h4,
.footer h4 a,
.footer h4 a:hover {
    color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
}

.footer h4 a,
.footer h4 a:hover {
    text-decoration: underline;
}

.new701link,
.new701link:hover,
.new701link:visited,
.new701link:active {
    text-decoration: none;
}