/* security-plus.css */

body {
    margin: 0;
    background-color: #009688;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

/* Add your existing CSS styles here */

/* Styling for the pop-up notification */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-over .box .review-answers-button,
.quiz-over .box .try-again-button {
    padding: 15px 50px;
    border: none;
    background-color: #f7b53c;
    border-radius: 5px;
    font-size: 16px;
    margin: 15px 0 20px;
    color: white;
}

.chapterLinks {
    display: none;
}

.chapter-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.chapter-selection-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.chapter-selector {
    width: 80%;
    /* Set a fixed width for consistent width */
    max-width: 400px;
    /* Optional: Limit the max width */
    background-color: #ccc;
    padding: 15px 25px;
    margin: 10px auto;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Apply custom cursor when hovering over buttons */
/* The cursor value is repeated twice to cover all browsers */
.chapter-selector:hover,
.quiz-over .box .review-answers-button:hover,
.quiz-over .box .try-again-button:hover,
.back-button:hover,
.quiz-container .next-button:hover,
.quiz-container .reset-button:hover,
.options div:hover,
.popup-button:hover,
.quiz-container .reset-quiz-button:hover {
    cursor: url('../img/custom-cursor.png'), url('../img/custom-cursor.png'), auto;
}

.quiz-container {
    /* Hide the quiz container initially */
    display: none;
    max-width: 700px;
    min-height: 500px;
    background-color: white;
    margin: 30px auto;
    border-radius: 8px;
    padding: 30px;
    /* Set default cursor style for the quiz container */
}

.question-number h3 {
    color: #009788;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.quiz-title h2 {
    color: #0000ff;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    /* Add padding to the top */
}

.back-button,
.quiz-container .next-button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 15px 15px;
    /* values for vertical and horizontal padding */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
}

.quiz-container .reset-quiz-button {
    background-color: #009688;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    float: right;
    text-align: right;
}

.question {
    font-size: 24px;
    color: black;
    padding: 15px 0;
    margin-bottom: 20px;
}

.options div {
    background-color: #ccc;
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.options div.disabled {
    pointer-events: none;
}

.options div.correct {
    z-index: 1;
    color: white;
}

.options div.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    z-index: -1;

    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

@keyframes animateBackground {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.options div.wrong {
    z-index: 1;
    color: white;
}

.options div.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;

    animation: animateBackground 1s ease;
    animation-fill-mode: forwards;
}

.answers-tracker div {
    height: 40px;
    width: 40px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.answers-tracker div.correct {
    background-color: green;
    background-image: url('../img/correct.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.answers-tracker div.wrong {
    background-color: red;
    background-image: url('../img/wrong.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.quiz-over {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.show {
    display: flex;
}

.quiz-over .box {
    background-color: #009688;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex-basis: 700px;
    max-width: 700px;
    color: white;
    box-shadow: #009688;
}

.quiz-over .box h1 {
    font-size: 36px;
    margin: 0 0 20px
}

.review-container {
    display: none;
    /* Initially hidden */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    /* Center the review container horizontally */
    max-width: 700px;
    /* Set the maximum width to 700px */
    text-align: left;
    /* Align the text to the left */
}

.review-question {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.review-question p {
    margin: 0;
    padding: 5px 0;
}