/* SY0-701.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.QuizLinks {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px;
}

.QuizLinks a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.QuizLinks a:hover {
    background-color: #ddd;
}

.quiz-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.options div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.options div:hover {
    background-color: #f0f0f0;
}

.navi-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.quiz-timer {
    font-size: 16px;
}

.next-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #45a049;
}
