*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.primary-title{
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {

}

.hero {
  color: white;
  text-align: center;
  padding: 15em 0;
  background: #222;

  @supports (background-blend-mode: multiply){
  background: 
    url(images/x-icon/favicon-32x32.png),
    raidal-gradient(#444, #111);
  }
}




